.site-header{
    background-color: #0f7878;
    color: #d4e1e1;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}


.site-content-text{
    margin: 10px;
}


.course-link{
    color: #d4e1e1;
}



.profile-pic {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
    box-shadow:#033e3e 2px 5px 5px;
}

body{
  
    margin: 0%;
}